<p id="notice"><%= notice %></p>

<p>
  <strong>Event :</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.name %>
</p>

<p>
  <strong>For event information contact:</strong>
  <%= @event.user.email %>
</p>


<p>
  <strong>Event Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @event.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @event.zipcode %>
</p>


<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
