<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @event.event_image.url %>
</p>

<p>
  <strong>Event :</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category.name %>
</p>



<p>
  <strong>Created by:</strong>
  <%= @event.user.name %>
</p>
<p>
  <strong>Attendees (<%= @event.users.length %>)</strong>
  <% @event.users.each {|user| %>
  <div class="event-attendee">
    <p><%= user.name %></p>
  </div>
  <% } %>
</p>

<p>
  <strong>For event information contact:</strong>
  <%= @event.user.email %>
</p>


<p>
  <strong>Event Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @event.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @event.zipcode %>
</p>


<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<% if !(@event.users).include?(current_user) %>

<div class="field">
  <%= button_to 'Attend', attend_path(@event), method: :post, confirm: 'Are you sure?' %>
</div>

<% else %>

<div class="field">
  <%= button_to 'Cancel attending', attend_delete_path(@event), method: :delete, confirm: 'Are you sure?' %>
</div>

<% end %>

<br />


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
